{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="main" class="wrapper">
  <div class="container ctr-light">
    <header class="minor">
      <h2>Sale #{{ sale.id }} - {{ sale.item.name }}</h2>
    </header>
    {% if sale.payment_received == False %}
      {% include 'sales/get_sale/no_payment_received.html' %}
    {% elif sale.payment_received and sale.item_shipped == False %}
      {% include 'sales/get_sale/payment_received_not_shipped.html' %}
    {% elif sale.item_shipped and sale.item_received == False %}
      {% include 'sales/get_sale/shipped_not_received.html' %}
    {% elif sale.item_received %}
      {% include 'sales/get_sale/item_received.html' %}
    {% endif %}
  </div>
</section>

{% endblock %}
