{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="main" class="wrapper">
  <div class="container ctr-light">
    <header class="minor">
      <h2>Sale #{{ sale.id }} - {{ sale.item.name }}</h2>
    </header>
    {% if request.user == sale.bid.bidder %}
      {% if sale.payment_received == False %}
      <p class="sale-info">Hello {{ sale.bid.bidder.username }},</p>
      <p class="sale-info">
        The seller accepted your bid and the sale process was initiated.
        Please send funds to the below Monero escrow address (or use the QR code).
      </p>
      <p class="sale-info"><strong>Expected Payment (XMR)</strong>: {{ sale.expected_payment_xmr }}</p>
      <p class="sale-info"><strong>Escrow Address</strong>: {{ sale.escrow_address }}</p>
      <img src="data:image/png;base64,{{ qrcode }}" width=200 class="sale-qrcode">
      <hr>
      <span class="wallet-text">
      <h2>Need a Wallet?</h2>
      <p class="sale-info">Try out these popular Monero wallet projects:</p>
      <ul>
        <li><a href="https://www.getmonero.org/downloads/" target="_blank">Official Community Funded Monero Software (desktop)</a></li>
        <li><a href="https://cakewallet.com/" target="_blank">CakeWallet (iOS, Android)</a></li>
        <li><a href="https://www.monerujo.io/" target="_blank">Monerujo (Android)</a></li>
        <li><a href="https://mymonero.com/" target="_blank">MyMonero (Desktop, Web)</a></li>
      </ul>
      </span>
      {% elif sale.payment_received and sale.item_shipped == False %}
      <p class="sale-info">Congratulations {{ sale.bid.bidder.username }},</p>
      <p class="sale-info">Your funds have been confirmed!</p>
      <p class="sale-info">
        The seller has been notified of the proof of payment and has been provided with your shipping address.
        Please make sure it is correct and will result in successful package delivery.
        You can edit the address here: <a href="{% url 'edit_shipping' %}" target="_blank">Edit Shipping Address</a>
      </p>
      <p class="sale-info"><strong>Address 1</strong>: {{ shipping_address.address1 }}</p>
      <p class="sale-info"><strong>Address 2</strong>: {{ shipping_address.address2 }}</p>
      <p class="sale-info"><strong>City</strong>: {{ shipping_address.city }}</p>
      <p class="sale-info"><strong>State</strong>: {{ shipping_address.state }}</p>
      <p class="sale-info"><strong>Country</strong>: {{ shipping_address.country }}</p>
      <p class="sale-info"><strong>Zip</strong>: {{ shipping_address.zip }}</p>
      {% elif sale.item_shipped and sale.item_received == False %}
      <p class="sale-info">Congratulations {{ sale.bid.bidder.username }},</p>
      <p class="sale-info">
        The seller has shipped the item, now you need to wait for it to arrive.
        When it does arrive please click the button below to confirm.
      </p>
      <p class="sale-info">Stay tuned for updates and thanks for using {{ site_meta.name }}!</p>
      <img src="{% static 'images/monero-symbol-800.png' %}" width=200>
      <hr>
      <hr>
      <p>Click here when you have received your package:</p>
      <p class="sale-info"><a href="{% url 'confirm_receipt' sale.id %}" class="button">Confirm Item Received</a></p>
      {% elif sale.item_received %}
      <p class="sale-info">Hey {{ sale.bid.bidder.username }},</p>
      <p class="sale-info">It sounds like your order was successful. The seller will be sent their funds from the transaction out of the escrow wallet. You are good to go!</p>
      <p class="sale-info">Thanks for using {{ site_meta.name }}!</p>
      <hr>
      <p class="sale-info">Please provide me with any feedback so I can make the process better in the future.</p>
      <ul>
        <li><a href="https://github.com/lalanza808/xmrauctions">Github</a>
        <li><a href="https://twitter.com/lza_menace">Twitter</a></li>
        <li><a href="https://www.reddit.com/user/catacombkid1">Reddit</a></li>
      </ul>
      {% endif %}
    {% endif %}

    {% if request.user == sale.item.owner %}
      {% if sale.payment_received == False %}
      <p class="sale-info">Hello {{ sale.item.owner.username }},</p>
      <p class="sale-info">
        You accepted bid #{{ sale.bid.id }} on your item "<a href="{% url 'get_item' sale.item.id %}">{{ sale.item.name }}</a>" (#{{ sale.item.id }}).
        A new sale has been initiated.
      </p>
      <p class="sale-info">
        We are waiting for the buyer to send funds to the escrow address.
        No action is needed from you at this time, but you will be notified you when there is.
      </p>
      <p class="sale-info">Congratulations on the sale!</p>
      {% elif sale.payment_received and sale.item_shipped == False %}
      <p class="sale-info">Congratulations {{ sale.item.owner.username }},</p>
      <p class="sale-info">
        The bidder for your item has sent the proper amount of funds to the escrow wallet address.
        You may now proceed with shipping the item they agreed to purchase from you.
        Here is the physical address you will need to mail it to:
      </p>
      <p class="sale-info"><strong>Address 1</strong>: {{ shipping_address.address1 }}</p>
      <p class="sale-info"><strong>Address 2</strong>: {{ shipping_address.address2 }}</p>
      <p class="sale-info"><strong>City</strong>: {{ shipping_address.city }}</p>
      <p class="sale-info"><strong>State</strong>: {{ shipping_address.state }}</p>
      <p class="sale-info"><strong>Country</strong>: {{ shipping_address.country }}</p>
      <p class="sale-info"><strong>Zip</strong>: {{ shipping_address.zip }}</p>
      <br>
      <p class="sale-info">If you have shipped the item please confirm by clicking this button:</p>
      <p class="sale-info"><a href="{% url 'confirm_shipment' sale.id %}" class="button">Confirm Item Shipped</a></p>
      {% elif sale.item_shipped and sale.item_received == False %}
      <p class="sale-info">Hello {{ sale.item.owner.username }},</p>
      <p class="sale-info">You've shipped the item, now you need to wait for the buyer to confirm they received it on their end.</p>
      <p class="sale-info">Stay tuned for updates and thanks for using {{ site_meta.name }}!</p>
      <img src="{% static 'images/monero-symbol-800.png' %}" width=200>
      {% elif sale.item_received %}
      <p class="sale-info">Hey {{ sale.item.owner.username }},</p>
      <p class="sale-info">The buyer confirmed receipt of their shipment which means things worked out. It's time for you to get paid!<p>
      <p class="sale-info">Your payout address provided during item creation will be paid the accepted bid amount out of the escrow wallet.<p>
      <p class="sale-info"><strong>Payout Address</strong>: {{ sale.item.payout_address }}<p>
      <p class="sale-info">Thanks for using {{ site_meta.name }}!</p>
      <hr>
      <p class="sale-info">Please provide me with any feedback so I can make the process better in the future.</p>
      <li><a href="https://github.com/lalanza808/xmrauctions">Github</a>
      <li><a href="https://twitter.com/lza_menace">Twitter</a></li>
      <li><a href="https://www.reddit.com/user/catacombkid1">Reddit</a></li>
      {% endif %}
    {% endif %}
  </div>
</section>

{% endblock %}
