{% extends 'base.html' %}

{% block content %}

<section id="main" class="wrapper">
  <div class="container">
    <header class="major">
      <h2>Browse Items</h2>
    </header>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Seller</th>
        <th>Name</th>
        <th>List Date</th>
        <th>Asking Price (XMR)</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>#{{ item.id }}</td>
        <td><a href="{% url 'list_items' %}?user={{ item.owner.id }}">{{ item.owner }}</a></td>
        <td><a href="{% url 'get_item' item.id %}">{{ item.name }}</a></td>
        <td>{{ item.list_date | date:"d M, Y H:i:s" }}</td>
        <td>{{ item.ask_price_xmr }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>

{% if items.has_other_pages %}
<ul class="pagination">
  {% if items.has_previous %}
    <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in items.paginator.page_range %}
    {% if items.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if items.has_next %}
    <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}
